[Service]
ExecStart=cyber-zfs-backup


# "rsync --stats" tells you how much it sent.
# "zfs send" doesn't have that (probably most people rely on pv(1)).
# We can log basic numbers from systemd v235+, though:
#
#     cyber-zfs-backup.service:
#         Consumed 7.644s CPU time,
#         received 3.7M IP traffic,
#           sent 658.2M IP traffic.
#
# In "systemctl show cyber-zfs-backup" there are more stats.
# Those stats are zeroed each time the unit runs.
#
# PS: useful iff cyber-zfs-backup does "push" (by default, it does).
#
# https://github.com/systemd/systemd/blob/v252/man/systemd.resource-control.xml#L502-L521
[Service]
IPAccounting=yes


# Generic systemd "default-deny" policy.
[Service]
PrivateNetwork=yes
DynamicUser=yes
CapabilityBoundingSet=
RestrictAddressFamilies=AF_UNIX
RestrictNamespaces=yes
DevicePolicy=closed
IPAddressDeny=any
NoNewPrivileges=yes
PrivateDevices=yes
PrivateMounts=yes
PrivateTmp=yes
PrivateUsers=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectSystem=strict
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@privileged @resources
RestrictRealtime=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes
UMask=0077
# New in systemd/buster-backports (since buster)
ProtectClock=yes
ProtectKernelLogs=yes
RestrictSUIDSGID=yes
ProtectHostname=yes

# ALLOW "zfs snapshot" and "zfs destroy".
[Service]
# zfs(8) needs write access to /dev/zfs (char-misc).
PrivateDevices=no
DeviceAllow=/dev/zfs
CapabilityBoundingSet=CAP_SYS_ADMIN
# Why does zfs need a full user list?
DynamicUser=no
PrivateUsers=no

# ALLOW "ssh otherhost zfs receive".
[Service]
PrivateNetwork=no
IPAddressDeny=
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
