[Service]
ExecStart=cyber-zfs-backup

# Generic systemd "default-deny" policy.
[Service]
PrivateNetwork=yes
DynamicUser=yes
CapabilityBoundingSet=
RestrictAddressFamilies=AF_UNIX
RestrictNamespaces=yes
DevicePolicy=closed
IPAddressDeny=any
NoNewPrivileges=yes
PrivateDevices=yes
PrivateMounts=yes
PrivateTmp=yes
PrivateUsers=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectSystem=strict
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@privileged @resources
RestrictRealtime=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes
UMask=0077
# New in systemd/buster-backports (since buster)
ProtectClock=yes
ProtectKernelLogs=yes
RestrictSUIDSGID=yes
ProtectHostname=yes

# ALLOW "zfs snapshot" and "zfs destroy".
[Service]
# zfs(8) needs write access to /dev/zfs (char-misc).
PrivateDevices=no
DeviceAllow=/dev/zfs
CapabilityBoundingSet=CAP_SYS_ADMIN
# Why does zfs need a full user list?
DynamicUser=no
PrivateUsers=no

# ALLOW "ssh otherhost zfs receive".
[Service]
PrivateNetwork=no
IPAddressDeny=
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
