Source: cyber-zfs-backup
Section: admin
Priority: optional
Maintainer: Trent W. Buck <twb@cyber.com.au>
Uploaders: Trent W. Buck <trentbuck@gmail.com>
Build-Depends:
 debhelper-compat (= 12),
 dh-sequence-python3,
 dh-python,
 python3-all,
 python3-setuptools
Standards-Version: 4.3.0
Rules-Requires-Root: no
VCS-Git: https://github.com/cyberitsolutions/cyber-zfs-backup

Package: cyber-zfs-backup
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends},
 zfsutils-linux (>= 0.8)
Enhances: zfsutils-linux
Suggests: openssh-client
# FIXME: keep this Description in-sync with README.rst.
Description: zfs local snapshot rotation (archive) and offsite push (disaster recovery)
 Like zfs-auto-snapshot or sanoid/syncoid, except that
 .
  * recursive snapshots;
  * replication push;
  * automatic "multi-rotation" retention policy
